<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue-orange.min.css" /> 
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>

<!-- Uses a header that scrolls with the text, rather than staying
  locked at the top -->
<div class="mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--scroll">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">MYTRIP APP Home Page</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
        <!-- Colored raised button -->
         <!-- Raised button -->
          <button class="mdl-button mdl-js-button mdl-button--raised">
           BACK
          </button>

      </nav>
    </div>
  </header>

  <main class="mdl-layout__content">
      
   <div style = "position:relative; left:50px; top:50px; ">
   <h3>WELCOME TO MYTRIP APP</h3>
       
   <div style = "position:relative; left:50px; top:50px; ">
   <h3>PLEASE SIGN IN</h3>
       
   <div style = "position:relative; left:50px; top:50px; ">
       
    <!-- Colored raised button -->
          <button id="signInButton" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Sign In</button>
          <script type="text/javascript">
            document.getElementById("signInButton").onclick = function () {
                location.href = "SignIn.html";
            };
          </script>
    </div>
       
       <div style = "position:relative; left:50px; top:60px; ">
       
    <!-- Colored raised button -->
          <button id="newTripButton" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">New Trip<button>
          <script type="text/javascript">
            document.getElementById("newTripButton").onclick = function () {
                location.href = "Newtrip.html";
            };
          </script>
        </div>
    
       <div style = "position:relative; left:50px; top:70px; ">
       
    <!-- Colored raised button -->
          <button id="myTripButton" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">My Trip</button>
          <script type="text/javascript">
            document.getElementById("myTripButton").onclick = function () {
                location.href = "MytripIn.html";
            };
          </script>
    </div>
  </main>
</div>