head>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue-orange.min.css" /> 
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>

<!-- Uses a header that scrolls with the text, rather than staying
  locked at the top -->
<div class="mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--scroll">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">New Trip </span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
        <!-- Colored raised button -->
         <!-- Raised button -->
          <button class="mdl-button mdl-js-button mdl-button--raised">
           BACK
          </button>

      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">NAVIGATION MENU</span>
    <nav class="mdl-navigation">
      
      <a class="mdl-navigation__link" href="">View Trip</a>
      <a class="mdl-navigation__link" href="">My Trips</a>
     
    </nav>
  </div>
  <main class="mdl-layout__content">
      <div style = "position:relative; left:50px; top:50px; ">
    <h3>      SET A NEW TRIP</h3>
    
    <style type="text/css">
      html, body { height: 100%; margin: 0; padding: 0; }
      #map { height: 50%; width : 50% }
    </style>
          
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.48.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.48.0/mapbox-gl.css' rel='stylesheet'/>
  </head>
  <body>
      
      
      <h5>
          Please enter the country you are Departing from:
          <form id="departureCountry">
            <select id="selectDepartureCountry">
                <option>select your departure country</option>
            </select>
          </form>
          <script>
              var select = document.getElementById("selectDepartureCountry"); 
              var options = ["Afghanistan","Albania","Algeria","American Samoa","Angola","Anguilla","Antarctica","Antigua and Barbuda","Argentina","Armenia","Aruba","Australia","Austria","Azerbaijan","Bahamas","Bahrain","Bangladesh","Barbados","Belarus","Belgium","Belize","Benin","Bermuda","Bhutan","Bolivia","Bosnia and Herzegovina","Botswana","Brazil","British Indian Ocean Territory","British Virgin Islands","Brunei","Bulgaria","Burkina Faso","Burma","Burundi","Cambodia","Cameroon","Canada","Cape Verde","Cayman Islands","Central African Republic","Chad","Chile","China","Christmas Island","Cocos (Keeling) Islands","Colombia","Comoros","Congo (Brazzaville)","Congo (Kinshasa)","Cook Islands","Costa Rica","Cote d'Ivoire","Croatia","Cuba","Cyprus","Czech Republic","Denmark","Djibouti","Dominica","Dominican Republic","East Timor","Ecuador","Egypt","El Salvador","Equatorial Guinea","Eritrea","Estonia","Ethiopia","Falkland Islands","Faroe Islands","Fiji","Finland","France","French Guiana","French Polynesia","Gabon","Gambia","Georgia","Germany","Ghana","Gibraltar","Greece","Greenland","Grenada","Guadeloupe","Guam","Guatemala","Guernsey","Guinea","Guinea-Bissau","Guyana","Haiti","Honduras","Hong Kong","Hungary","Iceland","India","Indonesia","Iran","Iraq","Ireland","Isle of Man","Israel","Italy","Jamaica","Japan","Jersey","Johnston Atoll","Jordan","Kazakhstan","Kenya","Kiribati","Korea","Kuwait","Kyrgyzstan","Laos","Latvia","Lebanon","Lesotho","Liberia","Libya","Lithuania","Luxembourg","Macau","Macedonia","Madagascar","Malawi","Malaysia","Maldives","Mali","Malta","Marshall Islands","Martinique","Mauritania","Mauritius","Mayotte","Mexico","Micronesia","Midway Islands","Moldova","Monaco","Mongolia","Montenegro","Montserrat","Morocco","Mozambique","Myanmar","Namibia","Nauru","Nepal","Netherlands","Netherlands Antilles","New Caledonia","New Zealand","Nicaragua","Niger","Nigeria","Niue","Norfolk Island","North Korea","Northern Mariana Islands","Norway","Oman","Pakistan","Palau","Palestine","Panama","Papua New Guinea","Paraguay","Peru","Philippines","Poland","Portugal","Puerto Rico","Qatar","Reunion","Romania","Russia","Rwanda","Saint Helena","Saint Kitts and Nevis","Saint Lucia","Saint Pierre and Miquelon","Saint Vincent and the Grenadines","Samoa","Sao Tome and Principe","Saudi Arabia","Senegal","Serbia","Seychelles","Sierra Leone","Singapore","Slovakia","Slovenia","Solomon Islands","Somalia","South Africa","South Georgia and the Islands","South Korea","South Sudan","Spain","Sri Lanka","Sudan","Suriname","Svalbard","Swaziland","Sweden","Switzerland","Syria","Taiwan","Tajikistan","Tanzania","Thailand","Togo","Tonga","Trinidad and Tobago","Tunisia","Turkey","Turkmenistan","Turks and Caicos Islands","Tuvalu","Uganda","Ukraine","United Arab Emirates","United Kingdom","United States","Uruguay","Uzbekistan","Vanuatu","Venezuela","Vietnam","Virgin Islands","Wake Island","Wallis and Futuna","West Bank","Western Sahara","Yemen","Zambia","Zimbabwe"]; 

              for(var i = 0; i < options.length; i++) {
                var opt = options[i];
                var el = document.createElement("option");
                el.textContent = opt;
                el.value = opt;
                select.appendChild(el);
                };
          </script>
      </h5>
            
      <button onclick="searchDepartureAirport()">Search for departure airport</button>
      
      <select name="departureAirPort" id="departureAirPort">
      </select>
      
     
      
      <button onclick="searchDestinationAirport()">Search for destination airport</button>
      
      <select name="destinationAirPort" id="destinationAirPort">
      </select>
      
      
      <button onclick="addDestinationAirport()">Add Next destination airport (can add multiple)</button>
      
      <select name="addDestinationAirPort" id="addDestinationAirPort">
      </select>
      
      <input type="date" id="calendar" name="calendar" value="">
      
      
      <button onclick="save()">Save This Trip</button>
      
      <script>
          
           var lnglat = [];
          
            var departureCountryConst ="";
            var departureAirPortConst ="";
            var templong = "";
            var templat ="";
            var airportInfo =[];
          
            function searchDepartureAirport(){
           
            var e = document.getElementById("selectDepartureCountry");
            
             departureCountryConst= e.options[e.selectedIndex].text;
            console.log(departureCountryConst)
                
            let QueryString = "https://eng1003.monash/OpenFlights/airports/?country=" + departureCountryConst + "&callback=testDepartureAirport"
      
            let script = document.createElement('script');
                script.src = QueryString;
                document.body.appendChild(script);
                console.log(script.src);
               
            }
          
            function testDepartureAirport(results){
                var airportList = [];
               
                var select1 = document.getElementById("departureAirPort");
                for(let i =0; i <results.length; i++){
                    
                    airportList.push(results[i].name)
                }
                console.log(airportList)
                
                for(var i = 0; i < airportList.length; i++) {
                var option1 = airportList[i];
                var element1 = document.createElement("option");
                element1.textContent = option1;
                element1.value = option1;
                select1.appendChild(element1);
                };
            }
          
            function searchDestinationAirport(){
           
            var e = document.getElementById("departureAirPort");
            
             departureAirPortConst = e.options[e.selectedIndex].text;
            console.log(departureAirPortConst)
                
                
          
                
            let QueryString = "https://eng1003.monash/OpenFlights/airports/?country=" + departureCountryConst + "&callback=testDestinationAirport"
      
            let script = document.createElement('script');
                script.src = QueryString;
                document.body.appendChild(script);
                console.log(script.src);
               
            }
          
            function testDestinationAirport(results){
                
                var deatinationAirportList = [];
                
                

                console.log(departureAirPortConst)
                

                console.log(departureCountryConst)
                
               
                var select1 = document.getElementById("destinationAirPort");
                
                for(let i =0; i <results.length; i++){
                    if (results[i].name == departureAirPortConst){
                        airportInfo.push(results[i].name);
                        airportInfo.push(results[i].longitude);
                        airportInfo.push(results[i].latitude);
                        console.log(airportInfo);
                       
                    }
                    deatinationAirportList.push(results[i].name)
                }
                console.log(deatinationAirportList)
                
                for(var i = 0; i < deatinationAirportList.length; i++) {
                var option1 = deatinationAirportList[i];
                var element1 = document.createElement("option");
                element1.textContent = option1;
                element1.value = option1;
                select1.appendChild(element1);
                };
              
                new mapboxgl.Marker()
                .setLngLat([airportInfo[1] ,airportInfo[2]])
                .addTo(map);
            
                
 
            }
          function addDestinationAirport(){
            var x = 0;
              
            let QueryString = "https://eng1003.monash/OpenFlights/airports/?country=" + airportInfo[x] + "&callback=addDestinationAirport"
      
            let script = document.createElement('script');
                script.src = QueryString;
                document.body.appendChild(script);
                console.log(script.src);
               
          }
          function addDestinationAirport(results){
              
                var deatinationAirportList = [];
                
                

                console.log(departureAirPortConst)
                

                console.log(departureCountryConst)
                
               
                var select1 = document.getElementById("addDestinationAirPort");
                x = 0;
                y = 1;
                z = 2;
                for(let i =0; i < results.length; i++){
                    if (results[i].name == airportInfo[x+3]){
                        airportInfo.push(results[i].name);
                        airportInfo.push(results[i].longitude);
                        airportInfo.push(results[i].latitude);
                        console.log(airportInfo);
                       
                    }
                    deatinationAirportList.push(this[i].name)
                }
                console.log(deatinationAirportList)
                
                for(var i = 0; i < deatinationAirportList.length; i++) {
                var option1 = deatinationAirportList[i];
                var element1 = document.createElement("option");
                element1.textContent = option1;
                element1.value = option1;
                select1.appendChild(element1);
                };
              
                new mapboxgl.Marker()
                .setLngLat([airportInfo[y+3] ,airportInfo[z+3]])
                .addTo(map);
            
                
 
            }
          
          
          function createGeometry(doesCrossAntimeridian) {
                var geometry = {
                'type': 'LineString',
                'coordinates': [
                [-72.42187, -16.59408],
                [140.27343, 35.67514]
                ]
                };
          }
        
          function save() {
              x =0;
            if(checkIfDataExistsLocalStorage()==true){
            let index=trips1.count
                console.log(index)
                trips1.addTrip("NEW")
                trips1.trips[index].country=departureCountryConst;
                trips1.trips[index].addAirport= airportInfo[x]
                trips1.trips[index].date = document.getElementById("calendar")
        
        
            let conf_save=confirm("Confirm save trip?")
            if(conf_save== true) {
                updateLocalStorage(trips1)
                localStorage.setItem(TRIP_INDEX_KEY, JSON.stringify(index))
                window.location = "NEWviewtrips.html"
           

             
         }
        
         
         
    }
        else{
            let index = 0
         
        
                trips1.addTrip("NEW")
                trips1.trips[index].country=departureCountryConst
              
                trips1.trips[index].addAirportairportInfo[x]
                trips1.trips[index].date = document.getElementById("calendar")
            let conf_save=confirm("Confirm save trip?")
                if(conf_save== true) {
                updateLocalStorage(trips1)
                localStorage.setItem(TRIP_INDEX_KEY, JSON.stringify(index))
                window.location = "NEWviewtrips.html"
           

             
         }
         
    }
 
    
    
   
}
function Home(){
    window.location="home.html"
    
}
          
      </script>
      
    <div id='map'></div>
    <script>
    
        // This should be your own API key
        mapboxgl.accessToken = 'pk.eyJ1IjoiaGFveHVhbnRhbyIsImEiOiJja29vN2hidnMwM3l2Mm5xa3pkOHlmNWs4In0.mULwk1FSGAkZ0d4M7HLMPg';
    
        let caulfield = [145.0420733, -37.8770097];
    
        let map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v10',
            zoom: 16,
            center: caulfield
        });


        // This function checks whether there is a map layer with id matching 
        // idToRemove.  If there is, it is removed.
        function removeLayerWithId(idToRemove)
        {
            let hasPoly = map.getLayer(idToRemove)
            if (hasPoly !== undefined)
            {
                map.removeLayer(idToRemove)
                map.removeSource(idToRemove)
            }
        }

    </script>
          
      </div>
  </main>
</div>