<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue-orange.min.css" /> 
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>

<!-- Uses a header that scrolls with the text, rather than staying
  locked at the top -->
<div class="mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--scroll">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Sign Up </span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
        <!-- Colored raised button -->
         <!-- Raised button -->
          <button class="mdl-button mdl-js-button mdl-button--raised">
           BACK
          </button>

      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">NAVIGATION MENU</span>
    <nav class="mdl-navigation">
      
      <a class="mdl-navigation__link" href="">New Trip</a>
      <a class="mdl-navigation__link" href="">My Trips</a>
     
    </nav>
  </div>
  <main class="mdl-layout__content">
      <div style = "position:relative; left:50px; top:50px; ">
    <h3>       WELCOME NEW USER</h3>
       <div style = "position:relative; left:10px; top:50px; ">
    <h3>       PLEASE SIGN UP</h3>
      <div style = "position:relative; left:50px; top:50px; ">
    <form action="#">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="signUpUserName">
        <label class="mdl-textfield__label" for="signUpUserName">User Name (Only Text)</label>
        </div>
    </form>
          
          <!-- Numeric Textfield with Floating Label -->
    <form action="#">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="signUpPassWord">
        <label class="mdl-textfield__label" for="signUpPassWord">Password (Number only)</label>
        <span class="mdl-textfield__error">Input is not a number!</span>
        </div>
    </form>
          
        <!-- Colored raised button -->
          <button id="signUpButton" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
           Sign Up 
          </button>
          
          <script type="text/javascript">
            document.getElementById("logInButton").onclick = function () {
               
            };
          </script>
          
      </div>
  </main>
</div>