<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue-orange.min.css" /> 
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>

<!-- Uses a header that scrolls with the text, rather than staying
  locked at the top -->
<div class="mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--scroll">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Trip Details</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
        <!-- Colored raised button -->
         <!-- Raised button -->
          <button class="mdl-button mdl-js-button mdl-button--raised">
           BACK
          </button>

      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">NAVIGATION MENU</span>
    <nav class="mdl-navigation">
      
      <a class="mdl-navigation__link" href="">View Trip</a>
      <a class="mdl-navigation__link" href="">My Trips</a>
     
    </nav>
  </div>
  <main class="mdl-layout__content">
      <div style = "position:relative; left:50px; top:50px; ">
    <h3>Details of the trip</h3>
     

  <!-- Simple list -->
<style>
.demo-list-item {
  width: 300px;
}
</style>

<ul class="demo-list-item mdl-list">
  <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
      Number:1
    </span>
  </li>
  <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
      Country:Australia
    </span>
  </li>
  <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
      Location:Melbourne
    </span>
  </li>
    <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
      Airport:MEL
    </span>
  </li>
    <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
      Date:2021-2-21
    </span>
  </li>
    <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
      Distance:25km
    </span>
  </li>
     <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
      Name<input id="Name" type="text" size="8"/>
    </span>
  </li>
</ul>
          
       </div>
    </main>    
</div>
      
      