<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue-orange.min.css" /> 
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>

<!-- Uses a header that scrolls with the text, rather than staying
  locked at the top -->
<div class="mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--scroll">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">View Trip</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
        <!-- Colored raised button -->
         <!-- Raised button -->
          <button class="mdl-button mdl-js-button mdl-button--raised">
           BACK
          </button>

      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">NAVIGATION MENU</span>
    <nav class="mdl-navigation">
      
      <a class="mdl-navigation__link" href="">homepage</a>
      <a class="mdl-navigation__link" href="">My Trips</a>
     
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div style = "position:relative; left:50px; top:50px; ">
    <h3> Information of trips</h3>
    
    <input class="mdl-textfield__input" type="date" id="date" onchange="dateSelected()">

    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
    <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Start location</th>
      <th>Number</th>
      <th>Date</th>
      <th>Airport</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">Melbourne</td>
      <td>1</td>
      <td>2021-2-21</td>
      <td>MEL</td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">Box Hill</td>
      <td>2</td>
      <td>2021-2-27</td>
      <td>MEL</td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">Sedney</td>
      <td>3</td>
      <td>2021-5-15</td>
      <td>SEL</td>
    </tr>
  </tbody>
    </table>
        
        

    </div>
  </main>
</div>




